body {background: #f3f2f3;
}
.container{
    background: #f3f2f3;
    margin: 30px auto;
    width: 900px;
    height: 1000px;
}
.header{
	background: #e2e2c7;
	height: 180px;
	width: 900px;
	display: inline-block;
}
.content{
	background: #e80606;
	float: right;
	width: 900px ;
	height: 850px;}
.signin {
	float: left;
	margin: 100px;
	width: 250px;
	height: 500px;
}
.signup{
	float: right;
	margin: 100px;
	width: 250px;
	height: 500px;
}
.footer{
	background: goldenrod;
	height: 90px;
	width: 900px;
}
.signin :focus{
	color: rgb(213, 235, 23);
}
.signup:focus{
	color: rgb(213, 235, 23);
}
.as:hover{
	background: rgb(105, 104, 104);
}
.qw:hover{
	background: rgb(105, 104, 104);
}
